data/*
results/*csv
results/*txt
*__pycache__*
doc*
*DS_Store*
logs*
results/lc_analysis/231*.png
results/lc_analysis/*png
results/ASAS_lightcurves/*png
results/tess_lightcurve_fit_parameters/
results/lc_analysis/231*png
results/manual_plus_tess_O-C_vs_epoch/*png
results/manual_plus_tess_O-C_vs_epoch/*csv
results/lc_analysis/*
src/measure_*_times.sh
results/WASP*
results/manual_plus_tess*
results/model_comparison*
results/verify_tess_timestamps*
src/measure_wasp*b_times*.sh
src/measure_sector_2_times_brik.sh
results/ASAS_lightcurves/*csv
results/O_minus_C*
results/*/*PTFO*
